# Database
DATABASE_URL=""

# Better Auth

BETTER_AUTH_SECRET="SECRET" # Generate it with openssl or something...
NEXT_PUBLIC_BETTER_AUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
MICROSOFT_CLIENT_ID=""
MICROSOFT_CLIENT_SECRET=""